@include font-face('OpenSans-Black', 'OpenSans-Black');
@include font-face('OpenSans-Bold', 'OpenSans-Bold');
@include font-face('OpenSans-Italic', 'OpenSans-Italic');
@include font-face('OpenSans-Light', 'OpenSans-Light');
@include font-face('OpenSans-Medium', 'OpenSans-Medium');
@include font-face('OpenSans-Regular', 'OpenSans-Regular');
@include font-face('OpenSans-Thin', 'OpenSans-Thin');
