.bytescave-theme {
  background-color: $secondary;
  .header{
    padding: 20px 0;
    position: inherit;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    .navbar-brand {
      width: 200px;
      height: 62px;
      padding: 0;
      margin: 0;
      a{
        color: $black;
        text-decoration: none;
        font-family: $font-bold;
        font-size: 35px;
      }
      .logo{
        width: 70px;
        height: 62px;
        padding-right: 10px;
      }
    }
    .navbar-toggler {
      padding: 0;
      border: none;
      outline: none;
      .menu {
        outline: none;
        padding: 0;
        background-color: transparent;
        border: none;
        .bar1, .bar2, .bar3 {
          width: 35px;
          height: 3px;
          background-color: $primaryTextColor;
          margin: 6px 0;
          transition: 0.4s;
        }

        &.change {
          .bar1 {
            -webkit-transform: rotate(-45deg) translate(-4px, 6px);
            transform: rotate(-45deg) translate(-4px, 6px);
          }
          .bar2 {
            opacity: 0;
          }
          .bar3 {
            -webkit-transform:rotate(45deg) translate(-6px, -9px);
            transform:rotate(45deg) translate(-6px, -9px);
          }
        }
      }
    }

    .navbar-nav {
      a{
        font-size: 18px;
        color: $textColor;
        text-decoration: none;
        &:after {
          content: '';
          display: flex;
          width: 0;
          height: 2px;
          background: $primaryTextColor;
          transition: 0.3s;
          margin: 0 auto;
        }
        &:hover {
          color: $primaryTextColor;
          &:after {
            width: 100%;
          }
        }
        .animated {
          animation-duration: 1s;
          animation-fill-mode: both;
      }

      }
    }
    .center-nav {
      a{
        margin: 0 25px;
        text-transform: capitalize;
        font-family: $font-bold;
      }
    }
    .right-nav {
      a{
        margin-right: 20px;
        height: 48px;
        width: 180px;
        padding: 10px;
        border-radius: 55px;
        font-family: $font-bold;
        background: linear-gradient( to right, #E4001B,#7B0C16);
        color: $secondary;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        flex-direction: column;
        &:after {
          content: '';
          display: flex;
          width: 0;
          height: 2px;
          background: $secondary;
          transition: 0.3s;
          margin: 0 auto;
        }
        &:hover {
          color: $secondary;
          &:after {
            width: 72%;
          }
        }
        .animated {
          animation-duration: 1s;
          animation-fill-mode: both;
      }
        .i {
          margin-left: 5px;
          font-style: normal;
          display: inline-block;
        }
        &:last-child{
          margin-left: 20px;
          margin-right: 0;
        }
      }
    }
  }
}