$primary: #5193F4;
$secondary: #ffffff;
$secondaryDark: #042151;
$textColor: #7E7E7E;
$darkTextColor: #707070;
$primaryTextColor: #D5021A ;
$secondaryTextColor: #88B0EC;
$black: #000000;


$font-black : OpenSans-Black;
$font-bold : OpenSans-Bold;
$font-italic : OpenSans-Italic;
$font-light : OpenSans-Light;
$font-medium : OpenSans-Medium;
$font-regular : OpenSans-Regular;
$font-thin : OpenSans-Thin;