/* .footer-section {
    background-color: #161616;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #8A8A8A;
    padding: 80px 0;
}

.footer-section .footer-content p {
    padding: 20px 270px;
}

.footer-section .footer-content img {
    width: 230px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-links ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.footer-links ul li {
    padding: 0 10px;
}

.social-links {
    width: 100%;
    margin-top: 30px;
}

.social-links .social-content {
    width: 33%;
    float: left;
}

.social-content .social-icons {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: row;
}

.social-content .social-icons img {
    max-width: 100%;
    align-self: center;
}

.social-content .social-icons p {
    font-size: 12px;
    padding: 0 10px;
}

.copyright-section {
    background-color: red;
    width: 100%;
    float: left;
}

.copyright-section p {
    color: white;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    margin: 0;
} */



.footer-section{
    width: 100%;
    float: left;  
}

.footer-content{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.footer-logo{
    margin: 0;
    padding: 0;
}
.footer-logo img{
    width: 80px;
}
.copyright {
    margin: 0;
    padding: 7px 30px;
    font-family: QuickSand-Regular;
    font-size: 12px;
}
.footer-links {
    font-family: QuickSand-Regular;
    font-size: 12px;
    margin: 0;
    text-align: center;
    padding: 7px 0;
}
.footer-links ul{
    list-style: none;

}
.footer-links ul li{
    display: inline;
    padding: 0 10px;
}
.social-links{

}
.social-links ul{
    list-style: none;
}
.social-links ul li{
    display: inline;
    padding: 0 30px;
}