.form-section{
    width: 100%;
    float: left;
    background-image: linear-gradient(313deg, #7B0C16 0%, #E4001B 70%);
    color: white;
    padding: 80px 0;
}
.form-section h1{
    font-size: 40px;
    color: white;
    padding: 10px 0 50px 0;
}

.form-button{
    background: white;
    border: 1px solid white;
    /* padding: 13px 35px; */
    border-radius: 40px;
    color: #c90319;
}
.btn-primary {
    background: white !important;
    border: 1px solid white !important;
    padding: 8px 26px !important;
    border-radius: 40px !important;
    color: #c90319 !important;
    margin-top: 35px !important;
}
@media (min-width: 320px) and ( max-width: 767px) {
    .form-section {
        width: 100%;
        float: left;
        background-image: linear-gradient(313deg, #7B0C16 0%, #E4001B 70%);
        color: white;
        padding: 20px 0;
    }
    .form-section h1 {
        font-size: 22px;
        color: white;
        padding: 15px 0 20px 0;
        font-family: QuickSand-Bold;
    }
    .contact-form {
    font-family: QuickSand-Regular;
    font-size: 13.4px;
    }
}