
.main .custom-header{
  background-color: #fafbfc;
  padding: 30px 0 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.navbar-expand-lg{
  padding: 20px 0 !important;
}
.main .custom-header .navbar-brand {
  padding: 0;
  margin: 0;
}
.main .custom-header .navbar-brand .logo{
  width: 145px;
  /* height: 50px; */
  object-fit: contain;
}
.header-logo {
  width: 145px;
}
.nav-button{
  background-image: linear-gradient(293deg, #7B0C16 0%, #E4001B 100%);
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
}
.nav-button:hover{
  background-image: linear-gradient(293deg,#E4001B  0%, #7B0C16 100%);

}
.main .custom-header .navbar-nav{}
.main .custom-header .navbar-nav a{
  font-family: QuickSand-regular;
  font-size: 18px;
  color: #7E7E7E;
  padding: 5px 0;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}
.main .custom-header .navbar-nav a.active, .main .custom-header .navbar-nav a:hover{
  border-color: #0063B0;
  color: #0063B0;
}
.navbar-light .navbar-nav .nav-link {
  color: #7E7E7E !important;
  padding: 10px!important;
}
.main .custom-header .navbar-nav .nav-button{
  background-image: linear-gradient(293deg, #7B0C16 0%, #E4001B 100%);
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
}

.header-section {
  background-image: url("../../../assets/images/header-image.png");
    width: 100%;
    /* height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    height: 860px;
    /* width: 100%; */
}

/* .header-section .container {
  height: 100%
} */

.header-content {
  text-align: left;
    margin: 0 auto;
    color: white;
    position: relative;
    /* display: flex; */
    flex-direction: column;
    height: calc(100% - 100px);
    justify-content: center;
    padding: 180px 620px 0 0;
}

.header-content h1{
  color: white;
  font-size: 40px;
}

.header-content p {
  color: white;
  text-align: left;
  font-size: 16px;
  font-family: QuickSand-regular;
  font-weight: 700;
  padding: 30px 0;
}

.header-content button {
  font-family: QuickSand-regular;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  background: transparent;
  border: 1px solid white;
  padding: 13px 35px;
  border-radius: 40px;
  color: white;
}
.header-content button:hover {
  /* font-family: QuickSand-regular; */
  /* font-size: 14px; */
  /* text-align: center; */
  /* margin: 0 auto; */
  background: white;
  border: 1px solid white;
  /* padding: 13px 35px; */
  border-radius: 40px;
  color: #c90319;
}

.leading-section{
  width: 100%;
  padding: 50px 0;
  float: left;
}

.leading-section .leading-image{
  width: 50%;
  float: left;
}
.leading-section .leading-image img{
  width: 100%;
  object-fit: contain;
}
.leading-section .leading-content {
  width: calc( 50% - 40px);
  float: left;
  padding: 80px 20px 0 20px;
}

.leading-section .leading-content h1{
  color: #D5021A;
  font-size: 40px;
  font-family: QuickSand-bold;
}

.leading-section .leading-content p{
  font-size: 16px;
  font-family: QuickSand-regular;
  color: #9694A6;
}
.leading-content ul {
  list-style: none;

    /* display: flex; */
    /* flex-direction: column; */
    margin: 0;
    padding: 20px 0;
}

.leading-content ul li {
  display: flex;
  object-fit: contain;
  padding: 10px 0;
  margin: 0;
}

.leading-content ul li img{
  object-fit: contain;
  padding-right: 10px;
}

.bio-section{
  width: 100%;
  float: left;
}
.bio-section .bio-image{
  width: 50%;
  float: left;
}
.bio-section .bio-image img{
  width: 100%;
  padding: 30px;
  
}
.bio-section .bio-content {
  width: 50%;
  float: left;
  padding: 200px 30px 0;
}
.bio-content h1 {
  font-size: 32px;
  color: #d5021b;
  font-family: QuickSand-Bold;
}
.bio-content p {
  font-size: 16px;
  color: #9694a6;
  font-family: QuickSand-Regular;
}

.footer-section{
  width: 100%;
  float: left;  
}

.footer-content{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.footer-logo{
  margin: 0;
  padding: 0;
}
.footer-logo img{
  width: 80px;
}
.copyright {
  margin: 0;
  padding: 7px 30px;
  font-family: QuickSand-Regular;
  font-size: 12px;
}
.footer-links {
  font-family: QuickSand-Regular;
  font-size: 12px;
  margin: 0;
  text-align: center;
  padding: 7px 0;
}
.footer-links ul{
  list-style: none;

}
.footer-links ul li{
  display: inline;
  padding: 0 10px;
}
.social-links{

}
.social-links ul{
  list-style: none;
}
.social-links ul li{
  display: inline;
  padding: 0 30px;
}

.element-form {
  width: 100%;
  float: left;
}
.element-services {
  width: 100%;
  float: left;
}




@media (min-width: 320px) and ( max-width: 767px) {
  .navbar-light .navbar-brand {
    margin-left: 15px;
  }
  .navbar-light .navbar-toggler {
    margin-right: 15px;
  }
  .header-content h1 {
    color: white;
    font-size: 22px;
}
.header-section {
  width: 100%;
  height: 80vh;
}
.header-content {
  text-align: left;
  margin: 0 auto;
  color: white;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  height: calc(100% - 100px);
  justify-content: center;
  padding: 60px 0px 0 0;
}
  .header-content p {
    padding: 20px 0;
    font-size: 13.4px;
  }

  .leading-section .leading-image {
    width: 100%;
    float: left;
}
.leading-section .leading-content {
  /* width: calc( 50% - 40px); */
  float: left;
  padding: 40px 20px;
  width: 100%;
}
.leading-section .leading-content h1 {
  color: #D5021A;
  font-size: 22px;
  font-family: QuickSand-bold;
}
.leading-section .leading-content p {
  font-size: 13.4px;
  font-family: QuickSand-regular;
  color: #9694A6;
}

.leading-content ul li img {
  object-fit: contain;
  padding-right: 10px;
  width: 26px;
}
.service .service-content {
  padding: 30px 0px;
  width: 100%;
  float: left;
  text-align: center;
}
.service h1 {
  font-size: 22px;
  color: #D5021A;
  font-family: OpenSans-Bold;
  padding-bottom: 15px;
}
.service p {
  font-size: 13.4px;
  font-family: QuickSand-Regular;
  color: #7E7E7E;
}
.bio-section .bio-image {
  width: 100%;
  float: left;
}
.bio-section .bio-image img {
  width: 100%;
  padding: 0;
}
.bio-section .bio-content {
  width: 100%;
  float: left;
  padding: 40px 15px;
}
.bio-content h1 {
  font-size: 22px;
  font-family: QuickSand-Bold;
  color: #D5021A;
}
.bio-content p {
  font-size: 13.4px;
  color: #9694A6;
  font-family: QuickSand-Regular;
}
.footer-content {
  display: flex;
  /* justify-content: center; */
  margin-top: 15px;
  flex-direction: column;
}
.footer-logo {
  margin: 0;
  padding: 0;
  text-align: center;
}
.copyright, .footer-links {
  margin: 0;
  font-family: QuickSand-Regular;
  font-size: 12px;
  text-align: center;
}
.footer-links {
  text-align: center;
  /* padding: 7px 0; */
}
.footer-links ul {
  list-style: none;
  padding: 0;
}
.social-links ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
  
}

@media (min-width: 768px) and ( max-width: 991px) {
  .header-content p {
    padding: 0;
  }
 
}

@media (min-width: 992px) and ( max-width: 1200px) {
  
}
