.client-section {
    width: 100%;
    float: left;
    background-image: linear-gradient(293deg, #7B0C16 0%, #E4001B 100%);
    padding: 80px 0;
}
.client-content{
    width: 30%;
    float: left;
    padding: 80px 0;
    color: white;
}
.slider-container {
    width: 70%;
    float: left;

}
.client-slider .client-card{
    padding: 30px;
    margin: 20px;
    /* text-align: center; */
    box-shadow: 0 0 12px 0 rgba(2,3,3,.06);
    background-color: white;
    border-radius: 25px;
}

/* .client-card img{

} */

.client-card p{
    color: #9694A6;
    font-size: 12px;
}
.client-card span{
    display:block;
    width: 100%;
    border-top: 1px solid #ccc;
}

.client-card h1{
    font-size: 20px;
    color: black;
    padding-top: 10px;
}
