.services {
    width: 100%;
    float: left;
    background-image: url(../../../assets/images/Our-service.png);
    background-position: right 10px;
    background-size: contain;
    backgroun-repeat: no-repeat;
    background-repeat: no-repeat;
}
.services-section {
    float: left;
    width: 100%;
    margin: 50px 0;
}

.services-content{
    float: left;
    width: 40%;
    padding: 150px 70px 0 0;
}
.services h1 {
    color: #D5021A;
    font-family: QuickSand-Bold;
    /* padding-bottom: 40px; */
    font-size: 30px;
    margin: 0;
    padding: 10px 0 50px 0px;
}
.services p {
    margin: 0;
    color: #9694A6;
    font-family: QuickSand-Regular;
}
.services-slider{
    float: left;
    width: 60%;
}
.services-grid{
    width: 100%;
}
.services-card{
    background-color: white;
    /* width: calc( 50% - 20px ); */
    float: left;
    border: 0.3px solid #707070;
    margin: 10px;
    padding: 40px 40px;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 4px -6px rgba(0,0,0,0.17);
    -moz-box-shadow: 10px 10px 4px -6px rgba(0,0,0,0.17);
    /* box-shadow: 10px 10px 4px -6px rgba(0,0,0,0.17); */
    /* -webkit-box-shadow: 0px 0px 83px 33px rgba(0,0,0,0.23); */
    -moz-box-shadow: 0px 0px 83px 33px rgba(0,0,0,0.23);
    /* box-shadow: 0px 0px 83px 33px rgba(0,0,0,0.23); */
}
.services-card h6{
    font-family: QuickSand-Regular;
    color: #C0C0C0;
    font-size: 19px;
    margin: 0;
}
.services-card h1{
    color: #D5021A;
    font-family: QuickSand-Bold;
    /* padding-bottom: 40px; */
    font-size: 30px;
    margin: 0;
    padding: 10px 0 50px 0px;
}
.services-card p{
    margin: 0;
    color: #7B0C16;
    font-family: QuickSand-Regular;
}

@media (min-width: 320px) and (max-width: 767px){
    .services-section {
        float: left;
        width: 100%;
        margin: 50px 0;
    }
    .services-content {
        float: left;
        width: 100%;
        padding: 30px 0;
    }
    .services-slider {
        float: left;
        width: 100%;
    }
    .services-grid {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

}